<%- include("./partials/header.ejs", {title: 'articles'}) %>

<ul>
  <% for(let article of articles) {%>
  <li><a href="<%= `/articles/${article.slug}` %>"><%= article.title %></a></li>
  <% } %>
</ul>

<%- include("./partials/footer.ejs") %>
